<html>
<head>
    <title>World Factbook Explorer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        .leaflet-container{background-color:#c5e8ff; text-align: center;}
        body {
            padding-top: 5rem;
          }
          .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
          }
          #marg{
            width: 70%;
            margin: 0 auto;
          }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/worldmap">World Map</a>
            </li>
            <div class="dropdown">
              <div class="btn-group">
                <button class="btn nav-link dropdown-toggle" type="button" data-toggle="dropdown">Plots
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/top5">Top 5</a></li>
                       <li><a class="dropdown-item" href="/bottom5">Bottom 5</a></li>
                       <li><a class="dropdown-item" href="/scandinavia">Scaninavia compare</a></li>
                  </ul>
                  </li>
              </div>
          </div>
          </ul>
        </div>
      </nav>

      <main role="main" class="container">

        <div class="starter-template">

          <h1>World Factbook Explorer</h1>
          <p class="lead">{% block intro %}A Noroff Studio 2 project developed by team=team.name
          {% endblock %}
        </div>


      </main><!-- /.container -->

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
