{% extends 'master.html' %}
{% block intro %}
Bottom 5 statistics
{% endblock %}
{% block content %}

<form method="post">
    <div class="row" id=marg>

        {% for prop in props %}
            <div class="col-md-3">
                    <input onChange="this.form.submit()" type="checkbox" id="{{ prop }}" name="{{ prop }}"
                    {{ "checked" if request.form[prop] else "" }}/>
                    <label for="{{ prop }}">{{ prop }}</label>
            </div>
        {% endfor %}

    </div>
</form>



<div class="row">
    {% for image in images %}
            <img class="col-md-4" src="{{ image }}" />
    {% endfor %}
</div>

{% endblock %}
